<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/listaadmin.css">
    <title>Bykes - Make it yours - Contacto</title>
</head>
<body>
  <main class="container-fluid">
    <!--Navbar-->
    <header class="header row">
        <div class="fixed-top col-12 col-sm-12">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4 navbar-expand-md navbar-expand-lg navbar-dark col-12" style="background-color: black">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/quienesSomos">¿Quienes somos? <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/productos">Bicicletas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/productos/custom">Customizar <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#contacto">Contacto <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/administrador">Administrar <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </div>
  
          <nav class="navbar navbar-transparent bg-transparent">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <ion-icon name="menu-outline"></ion-icon>
            </button>
            <div>
               <a href="/register">
                 <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Log in</button>
               </a>
               <a href="/carrito/lista">
                 <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><ion-icon name="cart-outline"></ion-icon></button>
               </a>
            </div>
          </nav>
        </div>
      </header> 
    
      

    <!--detalle admin-->
    <section class="row container col-12">

        <article class="titulo d-flex justify-content-center border-bottom border-dark col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Detalle Bicicleta</h5>
        </article>

        <article class="fotoProducto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center mt-2">
            <div class="card bg-transparent text-white border-dark w-55 p-1 pt-3">
              <figure class="">
                <img src="/images/bicicletas/<%= miBici.imagen%> " class="card-img" alt="Bicicleta">
              </figure>
            </div>
        </article>

        <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="row row-cols-1 row-cols-sm-12 row-cols-md-12 row-cols-lg-12 row-cols-xl-2 d-flex justify-content-center mt-2">
              <div class="cartaUno col mb-4">
                <div class="card h-100 border-dark">
                  <div class="card-body text-center">
                    <h4 class="card-title">Marca: <%= miBici.marca%></h4>
                    <h4 class="card-title">Modelo: <%= miBici.modelo%></h4>
                    <h4 class="card-title">Precio: <%= miBici.precio %></h4>
                    <p class="card-text"> Descripción Técnica: <%= miBici.descripcionTecnica %></p>
                    <h4 class="card-title">Colores: <%= miBici.colores %></h4>
                    <h4 class="card-title">Talle: <%= miBici.talle %></h4>
                    <h4 class="card-title">Rodado: <%= miBici.rodado %></h4>
                    <a href="/administrador" class="btn btn-primary btn-lg btn-danger" style="background-color: #FF6000 ; border: orangered">Volver</a>
                  </div>
                </div>
              </div>

          </article>

    </section>

    <%- include('../partials/footer.ejs') %>

  </main>
</body>
</html>