<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/listaadmin.css">
    <title>Bykes - Make it yours - Contacto</title>
</head>
<body>
  <main class="container-fluid">
    <!--Navbar-->
    <%- include('../partials/headerNegro.ejs') %>
    
      

    <!--Listado de Productos-->
    <section class="row container col-12">

        <article class="titulo d-flex justify-content-center border-bottom border-dark col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Listado de Usuarios</h5>
        </article>

        <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-2">
            <a href="/administrador"><button type="button" class="btn btn-primary" style="background-color: #FF6000 ; border: #FF6000; color: #000000">Volver<ion-icon name="arrow-back-circle-outline"></ion-icon></button></a>
        </article>
          <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <table class="table text-white" style="background-color: #000000;">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre y Apellido</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Ver</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Borrar</th>
                </tr>
              </thead>
              <tbody>
                <% usuarios.forEach(user => { %>
                <tr>
                  <td><%= user.id%> </td>
                  <td><%= user.firstName + " " + user.lastName%> </td>
                  <td><%= user.category%> </td>
                  <td><a href="/usuarios/detalle/<%= user.id%>"> <ion-icon name="eye-outline"></ion-icon></a></td>
                  <td><a href="/usuarios/edit/<%= user.id%>"> <ion-icon name="pencil-outline"></ion-icon></a></td>
                  <td><a href="/usuarios/delete/<%= user.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
                </tr>
                <% }); %>
              </tbody>
            </table> 
          </article>       

        
        


    </section>

    <%- include('../partials/footer.ejs') %>

  </main>
</body>
</html>