<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Bykes - Make it yours</title>
</head>
<body>

    <main class="container">
      <!--navbar-->
      <%- include('../partials/headerBlanco.ejs') %>


      <!--Formularios-->
        <div class="formularios row">
          <% if(typeof errors != 'undefined') { %>
            <p style="color: #FF6000;">Error</p>
            <ul>
            <% for(var i = 0; i < errors.length; i++) { %>
            <li> <%= errors[i].msg %> </li>
            <% } %>
            </ul>
           <% } %>
              <form class="register col-10 col-sm-12 col-md-6 col-lg-g col-xl-6  col-12" action="/users/login" method="POST">                
                    
                <h2 class="border-bottom border-light border-solid">REGISTRARSE</h2>

                <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <br>
                        <input type="text" class="form-control" id="validationServer01" name="nombre" placeholder="Nombre" value="<%= typeof old != 'undefined' ? old.nombre : '' %>">
                      </div>
                      
                      <div class="col-md-6 mb-3">
                        <br>
                        <input type="text" class="form-control" id="validationServer02" placeholder="Apellido" name="apellido" value="<%= typeof old != 'undefined' ? old.apellido : '' %>">
                      </div>
                      
                      <div class="col-md-6 mb-3">
                        
                        <input type="number" class="form-control" id="validationServer01" name="dni" value="<%= typeof old != 'undefined' ? old.dni : '' %>" placeholder="DNI">
                      </div>
                      
                      <div class="col-md-6 mb-3">
                        
                        <input type="tel" class="form-control" id="validationServer02" placeholder="Teléfono" name="telefono">
                      </div>
                </div>
                <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="validationServer03" placeholder="Dirección" name="direccion" value="<%= typeof old != 'undefined' ? old.direccion : '' %>">
                      </div>
                      <div class="col-md-3 mb-3">
                        <input type="text" class="form-control" id="validationServer03" placeholder="Piso y Dto." name="pisoDepto">
                      </div>
                      <div class="col-md-3 mb-3">
                        <input type="number" name="cp" placeholder="CP" class="form-control" id="validationServer05" value="<%= typeof old != 'undefined' ? old.cp : '' %>">
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="validationServer03" placeholder="Provincia" name="provincia" value="<%= typeof old != 'undefined' ? old.provincia : '' %>">
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="validationServer03" placeholder="Localidad" name="localidad" value="<%= typeof old != 'undefined' ? old.localidad : '' %>">
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="validationServer03" placeholder="Email" name="email" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="password" class="form-control" id="validationServer03" placeholder="Contraseña" name="password" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                      </div>
                </div>
                <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="validatedCustomFile" name="imagen">
                  <label class="custom-file-label" for="validatedCustomFile">Foto de perfil</label>
                </div>
                <div class="form-group">
                <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" required>
                        <label class="terminos form-check-label">
                          Acepto los terminos y condiciones.
                        </label>
                </div>
                <br>
                <button class="btn btn-primary btn-dark" type="submit" style="background-color: black;">Registrarme</button>
                <a href="/login" class="btn btn-primary btn-danger" style="background-color: #FF6000 ; border: orangered">Ya tengo cuenta</a>
              </form>
          
        </div>


      </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>